<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Your Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>
</head>

<body onload="initialize()">
    
    <header>
        <h2 class="website-name">Commute Your Way</h2>
        <p>Find the way, YOUR way</p>
    </header>

    <section>
        <nav>
            <ul>
                <main>
                    <h3>Where are you going?</h3> 
                    <input type="text" id="searchBox" placeholder="Enter Starting Point">
                    <!-- <div id="map"></div> -->
                    <br>
                    <input type="text" id="destinationBox" placeholder="Enter Destination"> <br> <br>
                    <button id="searchButton">Search</button>
                    <br> <br>

                    <h3>Select Preferences:</h3>
                    <br>

                    <label for="maxSpeedDropdown">Max Speed Limit:</label>
                    <select id="maxSpeedDropdown">
                        <option value="option1">Select</option>
                        <option value="option2">30-40</option>
                        <option value="option3">40-50</option>
                        <option value="option4">50-60</option>
                        <option value="option5">60-70</option>
                        <option value="option6">No Preference</option>
                    </select>
                    <br> <br>
                    <label for="lightingDropdown">Lighting Conditions:</label>
                    <select id="lightingDropdown">
                        <option value="option1">Select</option>
                        <option value="option2">Well Lit</option>
                        <option value="option3">No Preference</option>
                    </select>
                    <br> <br>
                    <label for="roadDropdown">Road Conditions:</label>
                    <select id="roadDropdown">
                        <option value="option1">Select</option>
                        <option value="option2">Low Importance</option>
                        <option value="option3">Medium Importance</option>
                        <option value="option4">High Importance</option>
                        <option value="option5">No Preference</option>
                    </select>
                    <br> <br>
                    <label for="safetyDropdown">Safety Concern:</label>
                    <select id="safetyDropdown">
                        <option value="option1">Select</option>
                        <option value="option2">Low</option>
                        <option value="option3">Medium</option>
                        <option value="option4">High</option>
                        <option value="option5">No Preference</option>
                    </select>
                    <br>
                </main>
            </ul>
        </nav>


</section>

<article>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCR24dvlKf_XHx1xO8sNbxwQKsvX5KgBTA&libraries=places"></script>

    <div id="map" style="width: 1280px; height: 720px; margin: auto;"></div>

    <div>
        <label for="startAddress">Enter Starting Address:</label>
        <input type="text" id="startAddress" value="e.g., 1409 Sutter Street, San Francisco, CA, USA">  <!-- 1600 Amphitheatre Parkway, Mountain View, CA -->
        <label for="endAddress">Enter Ending Address:</label>
        <input type="text" id="endAddress" value="e.g., 2124 Union Street, San Francisco, CA, USA">  <!-- 1600 Amphitheatre Parkway, Mountain View, CA -->
        <button onclick="geocodeAddresses()" href="">Geocode</button>
        <a></a>
    </div>

    <script>
        var geocoder;
        var map;
        var startMarker;
        var endMarker;
        var startLatLong;
        var endLatLong;
        var polyline;
        var pcisfData;

        function initialize() {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(37.755838, -122.454447);
            var mapOptions = {
                zoom: 12,
                center: latlng
            };
            map = new google.maps.Map(document.getElementById('map'), mapOptions);

            //Enable Places Autocomplete for input fields
            enableAutoComplete('startAddress');
            enableAutoComplete('endAddress');
            getPCISF();
        }

        function enableAutoComplete(inputId) {
            var input = document.getElementById(inputId);
            var autocomplete = new google.maps.places.Autocomplete(input);
        }

        function geocodeAddresses() {
            //Clear existing markers before geocoding new addresses
            clearMarkers();
            clearPolyline();

            var startAddress = document.getElementById('startAddress').value;
            var endAddress = document.getElementById('endAddress').value;

            geocodeAddress(startAddress, 'startAddress');
            geocodeAddress(endAddress, 'endAddress');


            // Fetch the API token
            var routeId
            var routePoints
            var formattedPoints
            fetch('/getRoutes/'+startLatLong[0]+'/'+startLatLong[1]+'/'+endLatLong[0]+'/'+endLatLong[1])
                //Parse the response as JSON
                .then(response => response.json())
                .then(data => {
                    console.log(data['result']['trip']['routes']['0']['id']); //['result']['trip']['0']['tripId']
                    console.log(data['result']['trip']['routes']['1']['id']);
                    console.log(data['result']['trip']['routes']['2']['id']);
                    route0 = data['result']['trip']['routes']['0']['id'];
                    route1 = data['result']['trip']['routes']['1']['id'];
                    route2 = data['result']['trip']['routes']['2']['id'];
                    drawRoute(route0);
                    drawRoute(route1);
                    drawRoute(route2);
                    //routeId = data['result']['trip']['0']['tripId'];

                    // fetch('/getDrawnRoute/'+routeId)
                    //     //Parse the response as JSON
                    //     .then(response => response.json())
                    //     .then(data => {
                    //         console.log(data);
                    //         routePoints = data['result']['trip']['routes']['0']['points']['coordinates'];
                    //         let i = 0;
                    //         formattedPoints = [];
                    //         while (i < routePoints.length) {
                    //             formattedPoints.push({lat: routePoints[i][1], lng: routePoints[i][0]});
                    //             i++;
                    //         }
                    //         console.log(formattedPoints);
                    //         drawLine(formattedPoints);
                    //     })
                    //     .catch(error => console.error('Error fetching API routes:', error));
                    // console.log(data['result']);
                })
                .catch(error => console.error('Error fetching API routes:', error));
        }

        function drawRoute(routeId) {
            fetch('/getDrawnRoute/'+routeId)
                //Parse the response as JSON
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    routePoints = data['result']['trip']['routes']['0']['points']['coordinates'];
                    let i = 0;
                    formattedPoints = [];
                    while (i < routePoints.length) {
                        formattedPoints.push({lat: routePoints[i][1], lng: routePoints[i][0]});
                        i++;
                    }
                    console.log(formattedPoints);
                    drawLine(formattedPoints);
                })
                .catch(error => console.error('Error fetching API routes:', error));
        }

        function drawLine(points) {
            // Create a Google Maps Polyline using the array of points
            polyline = new google.maps.Polyline({
                        path: points,
                        geodesic: true,
                        strokeColor: 'blue',
                        strokeOpacity: 1.0,
                        strokeWeight: 4
                    });
            polyline.setMap(map);
        }

        function getPCISF() {
            fetch('/getPCI')
                //Parse the response as JSON
                .then(response => response.json())
                .then(data => {
                    console.log(data);
                    let i = 0;
                    pcisfData = [];
                    while (i < data.length) {
                        if (data[i]['pci_score'] < 55) {
                            pcisfData.push({lat: data[i]['latitude'], lng: data[i]['longitude']});
                        }
                        
                        i++;
                    }
                    console.log(pcisfData);
                })
                .catch(error => console.error('Error fetching API routes:', error));
        }



        function geocodeAddress(address, addressType) {
            // var latlng_return = [0, 0];
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status == 'OK') {
                    var location = results[0].geometry.location;
                    var latlng = [location.lat(), location.lng()];
                    console.log(latlng);

                    // Create a custom icon for the starting address
                    var iconUrl = addressType === 'startAddress' ? 'https://maps.google.com/mapfiles/ms/icons/green-dot.png' : undefined;

                    // Add a new marker at the geocoded location
                    var marker = new google.maps.Marker({
                        map: map,
                        position: location,
                        icon: iconUrl
                    });
					

                    // Set the appropriate marker variable based on the address type
                    if (addressType === 'startAddress') {
                        startMarker = marker;
                        startLatLong = latlng;
                    } else if (addressType === 'endAddress') {
                        endMarker = marker;
                        endLatLong = latlng;
                    }
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        function clearMarkers() {
            // Clear existing markers
            if (startMarker) {
                startMarker.setMap(null);
            }
            if (endMarker) {
                endMarker.setMap(null);
            }
        }

        function clearPolyline() {
            // Clear existing polyline
            if (polyline) {
                polyline.setMap(null);
            }
        }


    </script>

</article>

<footer>
    Commute Your Way
    <p><a href="https://example.com" class="footer-link">Services</a></p>
    <p><a href="https://example.com" class="footer-link">Contact Us</a></p>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html> 
